<% include ../partials/header.ejs %>

<a href = '../shows'><strong>< </strong>Shows</a>

<h1 class='text-center'>
    <%= show.title %>
</h1>

<div class="tab">
    <a class='btn btn-default' href='/shows/<%=show._id%>/screenshots'>Screenshots</a>
    <a class='btn btn-default active' href='/shows/<%=show._id%>/songs'>Songs</a>
</div>

<div id='display'>

    <div class='row'>

        <% show.songs.forEach(function (song, i) { %>

            <div class='col-md-4 col-sm-6'>
                <div class="youtube-player" data-id="<%= song.vidID %>"></div>
                <p class='relative text-center'>
                    <%= song.title %>
                    <br>
                    <a href="./songs/<%= song._id %>/lyrics">Show Lyrics</a>
                    <% if (user && (show.creator.id == user._id || user.isAdmin))  { %>
                        <div class='editDelete'>
                            <a class='inline' href="./songs/<%= song._id %>/edit">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <form action = './songs/<%= song._id %>?_method=DELETE' method = 'POST' class='inline'>
                                <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    <% } %>
                </p>
            </div>
        <% }) %>
        
        <div class="col-md-4 col-sm-6">
            <a id='newSongWrapper' href='/shows/<%=show._id%>/songs/new'>
                <img id='newSong' src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/YouTube_Silver_Play_Button.svg/2000px-YouTube_Silver_Play_Button.svg.png" alt="">
            </a>
            <p class='text-center'>Add a New Song</p>
        </div>
    </div>

    <% include ../partials/showbuttons.ejs %>
</div>

<script src="/js/video.js"></script>

<% include ../partials/footer.ejs %>
